# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# Test
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ChromaDB
ChromaDB/
*.sqlite3

# Environment variables
.env

# Logs
*.log
